@{
    ViewBag.Title = "Home Page";
}

@using PhonebookUIApp.Models
@model UserModel

<div class="main">
    <div class="users">
        <p>User List</p>
        <ul class="usersList">
            @foreach (UserData user in Model.Users)
            {
                <li>User ID: @user.UserId, User Name: @user.UserName</li>

            }
        </ul>
    </div>

    

    <div class="action">
        <h2>Create New User</h2>
        @using (Html.BeginForm("Create", "Home", FormMethod.Post))
        {
            @Html.LabelFor(m => m.newUser.UserName)
            @Html.TextBoxFor(m => m.newUser.UserName)
            <input type="submit" value="Submit"/>
        }
        <h2>Update User</h2>
        <h2>Delete User</h2>
    </div>


    

</div>